/* * {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.siteLogo {
    max-height: 100px;
    max-width: 100px;
    align-content: center;
}

.albums {
    max-height: 100px;
    max-width: 100px;
    flex-direction: column;
}


nav{
    background-color: rgb(0, 0, 0);
    color:rgb(248, 242, 242);
    flex-direction: row;
    text-align: right;
}

.nav a {
   color: inherit;
   align-content:inherit;
   flex-direction: row;
   text-align: center;

}

.songTable {
  border-collapse: separate;
  border-spacing: 10px ;
}

th {
    padding: 15px ;
}

.songTable a {
    color: gold;
    text-decoration-line: underline;
    font-size: larger;

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #193d86;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #f5f6f9;
    text-align: center;
}

.newSongForm {
    background-color:#193d86;

}

